.myheading{
    color: black;font-size: 50px;font-style:bold
    ;
}
p{
    font-size: 10px;
    color: BLACK;
}
#unique{
font-style:BOLD;  
color: BLACK; 
}
*{background: url();;
}
.image{
    width: 70px;
}}